<form method = "post" action = "/save_score" name = "player-form">
  <div class = "form-group">
    <p>Do you want to save your results?</p>
    <input
        type = "text"
        name = "player-name"
        value = "Your name"
        required = "required"
        autofocus
    >
    <input type = "submit" value = "Save">
  </div>
</form>